*.depo
*.dep
*.deppo
*.po
*.log
*.so
*.o
*.pc
simulator/zsim_stats*/*
*.out
*.csv
*.pyc
simulator/build/*
simulator/config_files/*
simulator/config_files*
workloads/*
simulator/.sconsign.dblite
simulator/libconfig/
simulator/libconfig/*
simulator/libconfig/*/*
simulator/ramulator-configs/prefetcher*/*
simulator/ramulator-configs/prefetcher*/
simulator/ramulator-configs/pim*/*
simulator/ramulator-configs/pim*/
.vscode
.vscode/*
simulator/execution_statuses*
simulator-communication-info-patch/
simulator-communication-info-patch/*
simulator/output*
simulator/HPCG*.txt
simulator/hpcg*.txt
simulator/out.fluid
simulator/input*/
simulator/cfg/
simulator/data/
simulator/stats_access_by_hops*/
simulator/stats_access_by_hops*/*
simulator/stats_archive*/
simulator/stats_archive*/*
simulator/stats_plots*/
simulator/stats_plots*/*
simulator/plots_for_paper_*/
simulator/plots_for_paper_*/*
simulator/archived_*/
simulator/archived_*/*
simulator/*trace*.txt
