*.depo
*.dep
*.deppo
*.po
*.log
*.so
*.o
*.pc
simulator/zsim_stats*/*
*.out
*.csv
*.pyc
simulator/build/*
simulator/config_files/*
simulator/config_files*
workloads/*
simulator/.sconsign.dblite
simulator/libconfig/
simulator/libconfig/*
simulator/libconfig/*/*
simulator/ramulator-configs/prefetcher*/*
simulator/ramulator-configs/prefetcher*/
.vscode
.vscode/*
simulator/execution_statuses*
simulator-communication-info-patch/
simulator-communication-info-patch/*
simulator/output*
