########################
# Example config file
# Comments start with #
# There are restrictions for valid channel/rank numbers
 standard = HMC
 stacks = 1
 speed = H1MC_2500
 org = HMC_4GB
 maxblock = HMC_256B
 link_width = HMC_Full_Width
 lane_speed = HMC_30_Gbps
# record_cmd_trace: (default is off): on, off
 record_cmd_trace = off
# print_cmd_trace: (default is off): on, off
 print_cmd_trace = off

 cpu_tick = 8
 mem_tick = 3
### Below are parameters only for CPU trace
 cache = no
 translation = None
### Below are parameters only for HMC
# single stack only
 source_mode_host_links = 4
 pass_thru_links = 0
 payload_flits = 16
 pim_mode = 0
 early_exit = on
# hmc_queue_size =  
# for subscription based prefetcher
 subscription_prefetcher = PREFETCHER_TYPE
 prefetcher_count_threshold = COUNT_THRESHOLD_NUMBER
 prefetcher_hops_threshold = HOPS_THRESHOLD_NUMBER
 prefetcher_subscription_table_size = 8192
 prefetcher_subscription_table_way = 4
 prefetcher_subscription_buffer_size = 32
 prefetcher_table_replacement_policy = LFU
 prefetcher_count_table_size = 4096
 print_debug_info = DEBUG_FLAG
# for adaptive threshold policy
 adaptive_threshold_change = ADAPTIVE_THRESHOLD_FLAG
 positive_feedback_threshold = 100
 negative_feedback_threshold = -100
 threshold_change_epoch = 1000000
 invert_latency_variance_threshold = 20
 bimodel_adaptive = false
 use_maximum_latency = false
 set_sampling = true
 magnitude_adaptive = false
########################
 expected_limit_insts = 200000000
 warmup_insts = 100000000
 warmup_reqs = 10000000

########################
